* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/logoAngelicaMelo.png);
    max-width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #1e1612;
    font-family: 'Sometype Mono', monospace;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000080;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: calc(1px + 3vw);
    margin-bottom: 300px;
    margin-left: 10px;
    text-shadow: 0 0 10px white;
}

.title p {
    font-size: calc(10px +1vw);
}

.aviso {
    font-size: 20px;
    text-shadow: 0 0 10px white;
}

.countdown {
    display: flex;
    width: 60vw;
    justify-content: space-between;

}

.countdown h1 {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 6vw);
    text-shadow: 0 0 10px white;
}

@media(max-width:480px){
    .title{
        font-size: calc(10px + 3vw);
    }
    .countdown h1 {
       padding: 5px;
    }
    .countdown p {
        padding: 5px;
        align-items: center;


    }
}
